<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UIAutomationSuite" data-provider-thread-count="1">
    <test name="UIAutomationChrome">
        <parameter name="browsertype" value="chrome"/>
        <classes>
            <class name="com.hsb.automation.runners.RunScenarios" />
        </classes>
    </test>
</suite>